@import "variables";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    min-height: 100vh;
    background: $blanco;
    
    .course{ 
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .courseCard{
            background-color: $grisClaro;
            color: $negro;
            border-radius: 15px;
            margin: 5px;
            padding: 5px;
            width: 50%;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            transition: all .1s ease-in-out;
            h2{color:$negro}
            p{color: $negro}
            &:hover{
                background-color: $blanco;
                h2{color:$rojo};
            }
            .linksDetail{
                display: flex;
                width: 100%;
                justify-content: space-around;
                align-items: center;
                .aCardDetail{
                    text-decoration: none;
                    width: 200px;
                    padding: 5px;
                    margin: 5px;
                    border: 1px solid $rojo;
                    border-radius: 5px;
                    color: $rojo;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    transition: all .25s ease-in-out;
                    &:hover{
                        background-color: $rojo;
                        color: $negro;
                        border: 1px solid $negro;
                    }
                }
                .btnCardDetail{
                    text-decoration: none;
                    width: 200px;
                    padding: 5px;
                    margin: 5px;
                    border-radius: 5px;
                    border: 1px solid $azul;
                    color: $azul;
                    background-color: transparent;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    transition: all .25s ease-in-out;
                    &:hover{
                        background-color: $azul;
                        color: $negro;
                        border: 1px solid $negro;
                    }  
                }
            }   
        }    
    }
    .courseDetail{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        .courseDetailItem{
            transition: all .1s ease-in-out;
            border-radius: 15px;
            width: 75%;
            margin: 15px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: $grisOscuro;
            span{color:#424fff}
            h3,h4{padding: 10px;}
            p{
                padding: 10px;
                margin: 10px;
                border: 1px solid #424fff;
            }
            .btnBack{
                background-color: transparent;
                padding: 5px 10px;
                border: 2px solid #424fff;
                color: $grisClaro;
                transition: all .1s ease-in-out;
            }
            &:hover{
                background-color: $blanco;
                p,h3,h4{color:$negro}
                .btnBack{
                    color:$negro;
                    &:hover{
                        outline: 1px solid #424fff;
                    }
                }
            }
        }
    }
    .proyects{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .proyectCard{
            background-color: $grisOscuro;
            box-shadow: 0px 0px 10px 2px $negro;
            margin: 5px;
            padding: 5px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .proyectCardImg{
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px;
                padding: 2.5px;
                img{
                    width: 100%;
                    border-radius: 10px;
                    filter:grayscale(1);
                    transition: all .2s ease-in-out;
                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
            .proyectCardInfo{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin: 5px;
                padding: 2.5px;
                p{color: $blanco;}
                span{color: $verde}
                h3,h5{color: $grisClaro;}
                a{
                    text-align: center;
                    width: 50%;
                    padding: 5px;
                    border-radius: 25px;
                    color: $blanco;
                    text-decoration: none;
                    outline: 1px solid $blanco;
                    &:hover{
                        color: $grisClaro;
                        outline: 1px solid $grisClaro;
                    }
                }
            }
        }
    }
    .perfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 70vh;
        .cardPerfil{
            width: 100%;
            margin: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .card{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction:row;
                width: 75%;
                min-height: 50vh;
                padding: 5px;
                text-align: center;
                background-color: $grisNegro;
                transition: all .25s ease-in-out;
                &:hover{
                    background-color: $grisClaro;
                    img{filter: grayscale(0)}
                    .cardInfo p,h2{color:$negro}
                    .cardInfo span
                    {
                        color:$rojo;
                        font-style: oblique;
                    }
                }
                img{
                    width: 100px;
                    height: 100px;
                    margin: 5px;
                    border-radius: 100%;
                    outline: 1px solid $blanco;
                    background:linear-gradient(45deg,$grisClaro,$grisNegro);
                    filter: grayscale(1);
                    transition: all .25s ease-in-out;
                }
                .cardInfo{
                    transition: all .25s ease-in-out;
                    padding: 10px;
                    width: 75%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align:center;
                    span{color: $blanco;}
                }
            }
            .numberCard{
                width: 50%;
                height: 5vh;
                padding: 5px;
                display: flex;
                justify-content: center;
                .active{
                    width: 10%;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    p{color: $rojo}
                }
                .noActive{
                    @extend .active;
                    p{color: $grisClaro;}
                }
            }
        }
        .btnCardPerfil{
            padding: 10px;
            margin: 5px;
            background-color: $grisNegro;
            border: none;
            border-radius: 15px;
            letter-spacing: 1.5px;
            transition: all .25s ease-in-out;
            &:hover{
                background-color: $grisClaro;
                color: $negro;
                outline: 1px solid $azul;
            }
        }
    }
    .pie{
        border-top: 2px solid $grisClaro;
        background:linear-gradient(to right, $blanco,$grisClaro);
        min-height: 15vh;
        padding: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            a{
                text-decoration: none;
                color: $negro;
                &:hover{
                    color: $grisClaro;
                }
            }
        }
        img{
            width: 100px;
        }
    }

}
